body {
    margin: 0px;
}

.logo{
    margin: 10px;
}

.header{
    background-color: lightblue;
}

.accountHeader{
    margin: 10px;
    float: right;
}

.navigation{
    overflow: hidden;
    background-color: lightgreen;
}

.navigationItem{
    float: left;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.navigationItem:hover{
    background-color: chocolate;
}

.body{
    height: 800px;
    padding: 10px;
    background-color: powderblue;
}

.side{
    float: left;
    height: 100%;
    width: 10%;
    background-color: royalblue;
}

.content{
    float: left;
    height: 100%;
    width: 80%;
    background-color: purple;
}

.footer{
    height: 160px;
    background-color: pink;
}